.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 100px;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 60px;
}

.login-main,
.signup-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem 4rem 4rem;
  width: max-content;
  box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
}

.login-main > h1,
.signup-main > h1 {
  align-self: center;
  font-size: 2.5rem;
}

.login-main > input,
.signup-main > input,
.signup-main > .name-inputs > input,
.signup-main > .password-inputs > input {
  padding: 1.25rem;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;
  font-size: 1rem;
}
.signup-main > .name-inputs,
.signup-main > .password-inputs {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.signup-main > .password-inputs > input {
  width: 100%;
}

.login-main input:focus,
.signup-main input:focus {
  outline: 2px solid var(--dark-blue);
}
.btn {
  font-size: 1rem;
  border: 0;
  border-radius: 1.2rem;
  padding: 0.8rem 1.2rem;
}
.login-btn,
.signup-btn {
  background-color: var(--primary-blue);
  color: white;
}
.login-btn:hover,
.signup-btn:hover {
  background-color: var(--dark-blue);
}

.guest-login-btn {
  background-color: whitesmoke;
}
.guest-login-btn:hover {
  background-color: rgb(238, 238, 238);
}

.go-to-link {
  font-size: 1.25rem;
}
.go-to-link > a {
  color: var(--dark-blue);
  margin-left: 0.5rem;
}
.line-or {
  position: relative;
  display: flex;
  flex-direction: column;
  color: grey;
}
.line-or > span {
  align-self: center;
  position: absolute;
  top: -12px;
  padding: 0.1rem;
  background-color: white;
}

.eye-btn {
  padding: 0.5rem;
  background-color: aliceblue;
  border: 1px solid lightGrey;
}
.eye,
.eye-slash {
  width: 20px;
  height: 15px;
}
@media screen and (max-width: 400px) {
  .login-page,
  .signup-page {
    justify-content: center;
    margin-top: 0;
  }
  .login-main,
  .signup-main {
    width: 300px;
    padding: 2rem;
    box-shadow: none;
  }
  .login-main > h1,
  .signup-main > h1 {
    font-size: 2rem;
  }
  .go-to-link {
    align-self: center;
  }
  .go-to-link > span,
  .go-to-link > a {
    font-size: 1.1rem;
  }
  .signup-main > .name-inputs {
    flex-direction: column;
    align-items: unset;
  }
}
