.hero {
  margin-top: 150px;
  display: flex;
  box-shadow: 1px 2px 4px rgb(180, 179, 179);
  width: 100vw;
}
.hero-img {
  width: 50%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #c5e1a5;
}
.hero-content p {
  font-size: 1.25rem;
}
.discover-btn {
  width: max-content;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: #fffdf8;
  font-size: 1rem;
  border: 0;
  box-shadow: 1px 2px 4px rgb(180, 179, 179);
}

@media screen and (max-width: 768px) {
  .hero {
    flex-wrap: wrap;
  }
  .hero-img {
    width: 100vw;
    height: 400px;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .discover-btn {
    font-size: 1rem;
  }
}
