.filters-outer {
  min-width: max-content;
  border-right: 1px solid lightgray;
  padding-bottom: 1rem;
  position: sticky;
  top: 100px;
  height: 100vh;
  /* overflow-y: scroll; */
}
.sort-price,
.category-checkbox,
.flower-checkbox,
.tag-select-filter,
.rating-filter,
.price-range {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid rgb(160, 158, 158); */
}
.sort-price > div,
.category-checkbox > div,
.flower-checkbox > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.filter-head {
  background-color: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
.filter-head > p {
  color: rgb(61, 61, 61);
  cursor: pointer;
}
.filters > h3 {
  font-size: 1.2rem;
}
.filters-inner {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filters-outer label {
  font-size: 1rem;
  margin-left: 1rem;
}

.price-range > div,
.rating-filter > div {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.tag-select {
  padding: 0.4rem;
  font-size: 1rem;
  width: max-content;
}
.tag-select:focus {
  border: 1.5px solid black;
  outline: none;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
  .filters-outer {
    display: none;
  }
}
