nav {
  font-family: "Cinzel Decorative", cursive;
  background-color: var(--primary-blue);
  height: 100px;
  display: flex;
  box-shadow: 1px 2px 4px rgb(193, 192, 192);
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}
.logo-outer {
  display: flex;
  align-items: center;
}
.logo-outer img {
  height: 60px;
}
.logo-inner {
  font-family: "Cinzel", serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.logo-inner h1 {
  color: white;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
}
/* .logo-inner small {
  position: relative;
  top: 20px;
} */
.search-nav {
  padding: 1rem;
  width: 700px;
  border-radius: 0.2rem;
  font-size: 1.25rem;
  border: 0;
}
.search-nav:focus {
  outline: none;
}
.nav-links {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}

.font-aw-icons {
  color: white;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 600px) {
  .font-aw-icons {
    display: none;
  }

  /* .logo-inner small {
    display: none;
  } */
  nav {
    justify-content: center;
  }
}
