@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

nav {
  font-family: "Cinzel Decorative", cursive;
  background-color: var(--primary-blue);
  height: 150px;
  display: flex;
  box-shadow: 1px 2px 4px rgb(180, 179, 179);
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.logo-outer {
  display: flex;
  align-items: center;
}
.logo-outer img {
  height: 100px;
}
.logo-inner {
  font-family: "Cinzel", serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.logo-inner h1 {
  color: white;
  font-size: 2.2rem;
  position: relative;
  top: 25px;
}
.logo-inner small {
  position: relative;
  top: 20px;
}
.search-nav {
  padding: 1rem;
  width: 700px;
  border-radius: 0.2rem;
  font-size: 1.25rem;
  border: 0;
}
.search-nav:focus {
  outline: none;
}
.nav-links {
  display: flex;
  gap: 2rem;
}

.font-aw-icons {
  color: white;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 600px) {
  .font-aw-icons {
    display: none;
  }
  nav {
    height: 120px;
  }
  .logo-outer img {
    height: 70px;
  }
  .logo-inner h1 {
    font-size: 1.5rem;
    top: 15px;
  }
  .logo-inner small {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
