.about {
  /* margin-top: 150px; */
  display: flex;

  width: 100vw;
}
.about-img {
  width: 50%;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-green);
}
.about-content h1 {
  font-size: 3rem;
}
.about-content p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.discover-btn {
  width: max-content;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: var(--primary-cream);
  font-size: 1rem;
  border: 0;
  box-shadow: var(--cream-btn-shadow);
}

@media screen and (max-width: 768px) {
  .about {
    flex-wrap: wrap;
  }
  .about-img {
    width: 100vw;
    height: 400px;
  }
  .about-content p {
    font-size: 1rem;
  }
  .discover-btn {
    font-size: 1rem;
  }
}
