footer {
  background-color: var(--primary-blue);
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  gap: 2rem;
  width: 100vw;
}
.socials {
  display: flex;
  gap: 2rem;
}
.socials img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
