footer {
  background-color: var(--primary-blue);
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  gap: 2rem;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}
.socials {
  display: flex;
  gap: 2rem;
}
.socials img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    font-size: 1.25rem;
    gap: 1rem;
    padding: 1.5rem;
  }
  .socials img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 500px) {
  footer > div > small:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  footer > div > small {
    font-size: 0.9rem;
  }
}
