.cart {
  display: flex;
  gap: 2rem;
  padding: 0 2rem 0 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.cart-items {
  padding: 3rem 3rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: max-content;
  border-right: 1px solid lightgray;
}
.cart-items > h2 {
  display: flex;
  justify-content: space-between;
}
.clear-cart-atonce {
  display: flex;
  justify-content: flex-end;
  color: #535766;
}
.clear-cart-atonce > span:hover {
  cursor: pointer;
}

.clear-cart-atonce > span:first-child {
  border-right: 1px solid grey;
  padding-right: 1rem;
}
.clear-cart-atonce > span:nth-child(2) {
  padding-left: 1rem;
}

.checkout-container {
  padding: 3rem 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: max-content;
  position: sticky;
  top: 100px;
}
.checkout-container > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  width: 400px;

  box-shadow: var(--cream-btn-shadow);
  height: max-content;
}
.checkout-container > div > p {
  display: flex;
  justify-content: space-between;
}

.order-btn {
  color: white;
  background-color: var(--secondary-green);
}

.empty-cart {
  display: flex;
  align-items: center;
}

.empty-cart > .img-div > img {
  width: 400px;
  height: 300px;
}

.empty-cart-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.empty-cart-content > .primary-btn {
  width: max-content;
}

@media screen and (max-width: 768px) {
  .cart-items {
    border: none;
  }
  .empty-cart > .img-div > img {
    width: 350px;
  }
}
@media screen and (max-width: 600px) {
  .cart-items {
    padding: 3rem 1rem 1rem 1rem;
  }
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .empty-cart-content {
    align-items: center;
    text-align: center;
  }
  .xMark {
    top: 5px;
    right: -15px;
  }
}
