@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  --primary-blue: #579bda;
  --dark-blue: #5982a9;
  --extra-dark-blue: #3d7bb5;
  --primary-green: #c5e1a5;
  --dtp-green: #acd281;
  --hover-green: #9fcd6a;
  --primary-cream: #fff6e0;
  --secondary-green: #659132;
  --dark-green: #537729;
  --cream-btn-shadow: 1px 2px 4px rgb(180, 179, 179);
}
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a,
button:hover {
  cursor: pointer;
}
a {
  color: black;
  text-decoration: none;
}
hr {
  color: lightgray;
}
.head-small p {
  padding-top: 1rem;
}
.heading {
  text-align: center;
  font-size: 3rem;
}
.para {
  font-size: 1.25rem;
  text-align: center;
}

.img-div {
  font-size: 0;
}
.green {
  color: green;
}
.tag {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 15px;
  left: -20px;
  border-radius: 2px;
}
.primary-btn {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 1.25rem;
  border-radius: 0.2rem;
  border: 0;
  background-color: var(--dtp-green);
}
.secondary-btn {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 1.25rem;
  border-radius: 0.2rem;
  border: 3px solid var(--primary-green);
  background-color: white;
}
.primary-btn > div,
.secondary-btn > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.Bestseller {
  background-color: bisque;
}
.New-Arrival {
  background-color: var(--primary-green);
}
.Florist-Original {
  background-color: pink;
}
.Fresh-Picked {
  background-color: var(--secondary-green);
  color: white;
}

.star-icon {
  color: cornflowerblue;
  width: 20px;
  height: 20px;
}

.bag-icon,
.arrow-right,
.heart {
  color: white;
  width: 20px;
  height: 20px;
}
.wishlist-icon {
  height: 30px;
  width: 25px;
  color: rgb(225, 223, 223);
}

.btns-in-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 240, 240);
  border-top: 1px solid lightGray;
}
.btns-in-row > span {
  padding: 1rem;
}
.btns-in-row > span:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }
  .para {
    padding: 0 1rem;
  }
}
