@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  --primary-blue: #579bda;
  --dark-blue: #5982a9;
  --extra-dark-blue: #3d7bb5;
  --primary-green: #c5e1a5;
  --primary-cream: #fff6e0;
  --secondary-green: #659132;
  --dark-green: #537729;
  --cream-btn-shadow: 1px 2px 4px rgb(180, 179, 179);
}

a,
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.head-small p {
  padding-top: 1rem;
}
.heading {
  text-align: center;
  font-size: 3rem;
}
.para {
  font-size: 1.25rem;
  text-align: center;
}
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.img-div {
  font-size: 0;
}

.tag {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 15px;
  left: -20px;
  border-radius: 2px;
}

.Bestseller {
  background-color: var(--primary-cream);
}
.New-Arrival {
  background-color: var(--primary-green);
}
.Florist-Original {
  background-color: pink;
}
.Fresh-Picked {
  background-color: var(--secondary-green);
  color: white;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }
  .para {
    padding: 0 1rem;
  }
}
